

body {
    margin: 0;
    font-family: Monaco, Consolas, monospace; /* Update font-family */
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Add Courier New font to all text content */
.container, nav#sidebar, .sidebar-header, #sidebarSearchInput, #sidebar button, ul.components li a, ul.components li input, main, .content, .main-dashboard h1, .search-container input, .search-container button, table, th, td, .right-panel, .right-panel button#hideButton, .right-panel .form-container input, .right-panel .form-container button, .header, .button-container, .insert-button {
    font-family: Monaco, Consolas, monospace;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

nav#sidebar {
    width: 245px;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    background: #707070;
    width: 84%;
}
#sidebarSearchInput {
    width: calc(100% - 30px);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 10px solid #ddd;
}

#sidebar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin: 10px 15px;
}

#sidebar button:hover {
    background-color: #575757;
}

ul.components {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

ul.components li {
    width: 100%;
}

ul.components li a {
    padding: 15px;
    font-size: 1.1em;
    color: #ddd;
    display: block;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

ul.components li a:hover {
    background: #575757;
    color: #fff;
}

ul.components li input {
    width: calc(100% - 30px);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #F1F2F6;
}

.content {
    display: block;
}

.main-dashboard {
    margin-right: 20px;
}

.main-dashboard h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #575757;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc; /* Ensure border consistency */
}

th {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.right-panel {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(183, 134, 134, 0.27);
        
    grid-area: right-panel;
    width: 250px;
    height: 100%;

    padding: 20px;

    position: fixed; /* Fixed position to overlap the main container */
    top: 0;
    right: 0;
    transition: transform 1s ease;
}

.right-panel.hidden {
    display: none;
}

.right-panel button#hideButton {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.right-panel .form-container {
    margin-top: 20px;
    position: relative; /* Ensures the button is positioned relative to the container */
    padding-bottom: 50px; /* Ensure there is enough space for the button */
}

.right-panel .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-panel .form-container button {
    position: absolute;
    bottom: 10px;
    Right: 0px;
    font-family: Raleway;
    font-weight: 100;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #8a8a8a 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 15px;
    transition : 264ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
text-transform: uppercase;
}

.right-panel .form-container button:hover {
    transition : 264ms;
    padding: 10px 40px;
    transform : translateY(-1px);
    background-color: #333333;
    color: #ffffff;
    border: none;   
}

.form-container button:hover {
    background-color: #575757;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-color: whitesmoke;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

.button-container {
    align-self: flex-end; /* Aligns the button to the right */
    margin-top: 10px; /* Adds some space between the title and the button */
}



.insert-button {
        font-family: Raleway;
    font-weight: 100;
    font-size: 10px;
    color: #000000;
    background-color: #ffffff;
    padding: 8px 13px;
    border: solid #8a8a8a 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 13px 13px 0px 0px;
    transition : 264ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .insert-button:hover {
    transition : 434ms;
    padding: 10px 20px;
    transform : translateY(-2px);
    background-color: #333333;
    color: #ffffff;
    border: none;
  }

  