body {
    margin: 0;
    font-family: Monaco, Consolas, monospace;
    background-color: #F8F9FA;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Add Courier New font to all text content */
.container, nav#sidebar, .sidebar-header, #sidebarSearchInput, #sidebar button, ul.components li a, ul.components li input, main, .content, .main-dashboard h1, .search-container input, .search-container button, table, th, td, .right-panel, .right-panel button#hideButton, .right-panel .form-container input, .right-panel .form-container button, .header, .button-container, .insert-button {
    font-family: Monaco, Consolas, monospace;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

nav#sidebar {
    width: 245px;
    background: #212529;
    color: #F8F9FA;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    background: #495057;
    width: 84%;
}
#sidebarSearchInput {
    width: calc(100% - 30px);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DEE2E6;
}

#sidebar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #212529;
    color: #F8F9FA;
    cursor: pointer;
    margin: 10px 15px;
}

#sidebar button:hover {
    background-color: #343A40;
}

ul.components {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

ul.components li {
    width: 100%;
}

ul.components li a {
    padding: 15px;
    font-size: 1.1em;
    color: #ADB5BD;
    display: block;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

ul.components li a:hover {
    background: #343A40;
    color: #F8F9FA;
}

ul.components li input {
    width: calc(100% - 30px);
    margin: 10px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DEE2E6;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #E9ECEF;
}

.content {
    display: block;
    background-color: #708090; 
    color: #E9ECEF; 
}

.main-dashboard {
    margin-right: 20px;
}

.main-dashboard h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    gap: 10px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #212529;
    color: #F8F9FA;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #343A40;
}

.display-section {
    width: 100%;
}

#addedDataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    background-color: #CED4DA;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#addedDataTable, #addedDataTable th, #addedDataTable td {
    border: 1px solid #6C757D; 
}

#addedDataTable th, #addedDataTable td {
    padding: 10px;
    text-align: left;
    color: #212529;
}

#addedDataTable th {
    background-color: #CED4DA; 
}

#addedDataTable tbody tr:nth-child(even) {
    background-color: #495057; 
}

#addedDataTable tbody tr:hover {
    background-color: #6C757D; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    background-color: #CED4DA; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #6C757D; 
}

th, td {
    padding: 10px;
    text-align: left;
    color: #212529; 
}

th {
    background-color: #CED4DA; 
}

tbody tr:nth-child(even) {
    background-color: #CED4DA; 
}

tbody tr:hover {
    background-color: #6C757D; 
}

.right-panel {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(183, 134, 134, 0.27);
        
    grid-area: right-panel;
    width: 250px;
    height: 100%;

    padding: 20px;

    position: fixed; 
    top: 0;
    right: 0;
    transition: transform 1s ease;
}

.right-panel.hidden {
    display: none;
}

.right-panel button#hideButton {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    color: #212529;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.right-panel .form-container {
    margin-top: 20px;
    position: relative; 
    padding-bottom: 50px; 
}

.right-panel .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-panel .form-container button {
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-family: Raleway;
    font-weight: 100;
    font-size: 12px;
    color: #212529;
    background-color: #F8F9FA;
    padding: 10px 30px;
    border: solid #ADB5BD 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 15px;
    transition: 264ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.right-panel .form-container button:hover {
    transition: 264ms;
    padding: 10px 40px;
    transform: translateY(-1px);
    background-color: #212529;
    color: #F8F9FA;
    border: none;
}

.form-container button:hover {
    background-color: #343A40;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C757D;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-container {
    align-self: flex-end;
    margin-top: 10px;
}

.insert-button {
    font-family: Raleway;
    font-weight: 100;
    font-size: 12px;
    color: #212529;
    background-color: #F8F9FA;
    padding: 10px 30px;
    border: solid #ADB5BD 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 12px;
    transition: 264ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.insert-button:hover {
    transition: 264ms;
    padding: 10px 40px;
    transform: translateY(-1px);
    background-color: #212529;
    color: #F8F9FA;
    border: none;
}

  
